.row1 .col-4 {

	height: 400px;
	background-color: #3F2361;
	border-radius: 20px;
	margin-top: 8%;


}

.row2 .col-4 {

	height: 200px;
	border-radius: 20px;
	margin-top: 5%;
	

}

.row3 .col-2 {

	margin-top: 2%;

}

.row3 .col-4 {

	margin-top: -2.5%;
	margin-left: 85%;

}

.row3 .col-4  a {

	color: #3F2361;
	font-size: 20px;


	}

.row3 .col-2 button {

	background-color: #744FA1;
	padding: 10px;
	padding-left: 35px;
	padding-right: 35px;
	text-align: center;
	border: none;
	border-radius: 25px;
	color: white;


}

.row2 .col-5 {

	margin-left: 5%;
	margin-top: 5% !important;
	height: 190px;
	border-radius: 20px;
	border: 1px solid #3F2361;
	display: grid;
	grid-template-columns: 20% 80%;
	align-items: center;
	justify-content: center;
	
}

.Text {

	margin-left: 10%;
	color: #aa82dc;
	font-size: 20px;



}

.Pargraphe {

	margin-right: 3% !important;
}
.Image {

	

	display: grid;
	justify-content: center;
	align-items: center;
}

.row2 .col-5 button {

    
    border: none;
    background-color: transparent; 
    margin-left: 70%;


}

.Personne {

	display: grid;
	grid-template-columns: 80% 20%;
	margin-top: 8% !important;
	margin-left: 5% !important;

}

.Personne h2{

	font-size: 18px;
	color: #3f2361;


}

.Personne p{

	font-size: 14px;
	color: #3f2361;
}

.Personne .IMage1 {

	height: 300px;
	width: 300px;
	border-radius: 20px;
	margin-left: 2%;
}

.Personne img {

	height: 100%;
	width: 100%;
	border-radius: 20px;
}

.Personne a {

	color: #3f2361;
	font-weight: 700;
}


.Card {

	display: grid;
	grid-template-rows: 80% 20%;
	align-items: center;
	align-content: center;
}

.Card .Title1 {

	margin: 0 auto;
	background-color: #ebe3fe;
	padding: 10px 30px;
	border-radius: 20px;

}

.Card .Title1 p {


	margin-top: 10%;
	color: #aa82dc;



	}